* {
    outline: none !important;
}

:host {
    display: block;
    font-family: sans-serif;
}

.card.psk-card {
    background: none;
    border: none;
    margin-left: 0;
    padding-left: 0;
}

.card-header {
    display: flex;
    flex: 1;
}

.card-body {
   padding-left: 0;
}


/** first level*/

.psk-card .card-header {
    background: none;
    border-bottom: none;
    font-size: 130%;
    padding-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.psk-card p.subtitle {
    color: rgba(255, 0, 0, .75);
    margin-top: -10px;
}


/** second level*/

.psk-card .psk-card .card-header {
    font-size: 120%;
}


/** more than two levels*/

.psk-card .psk-card .psk-card .card-header {
    font-size: 110%;
}
