div.global_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  background-color: #f8f9fc;
}

div.global_container.is-mobile{
  width: 100%;
  flex-direction: column;
}

.is-mobile aside{
  width: 100%;
  height: auto;
  display: block;
  overflow: inherit;
  padding-top: 5px;
}

.is-mobile aside psk-user-profile{
  position: absolute;
}

aside {
  height:100%;
  background-color: #4e73df;
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
  color: white;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  order:1;
  flex: 1;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-color: #4e73df #E5E5E5;
  scrollbar-width: thin;
  position: relative;
}

.nav-footer{
  color: #FFF;
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #142b86;
  font-size: 85%;
}
.nav-footer.bottom-stick{
 color:#FFF;
  background: #224abe;
}

section{
  display: flex;
  flex-direction: column;
  height:100%;
  overflow:hidden auto;
  scrollbar-color: #4e73df #E5E5E5;
  scrollbar-width: thin;
}

app-menu,
psk-app-router{
flex-grow: 1;
}

psk-user-profile{
  flex-direction: column;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

section{
order:2;
flex: 8;
}

aside::-webkit-scrollbar,
section::-webkit-scrollbar{
  background-color:#fff;
  width:8px;
}

/* background of the scrollbar except button or resizer */
aside::-webkit-scrollbar-track,
section::-webkit-scrollbar-track{
  background-color:#E5E5E5;
}

/* scrollbar itself */
aside::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb
{
  background-color:#4e73df;
  border-radius:8px;
  border:2px solid #FFF ;
}

/* set button(top and bottom of the scrollbar) */
aside::-webkit-scrollbar-button {display:none}
