

.psk-highlight {
    border-left: .5em solid;
    margin: 1em auto;
    padding: .5em;
}

.psk-highlight .body {
    margin: 1em 0;
}

.psk-highlight-note {
    background-color: #E9FBE9;
    border-color: #52E052;
}

.psk-highlight-note .header {
    color: #178217;
}

.psk-highlight .header{
    text-transform: uppercase;
}

.psk-highlight-issue {
    background-color: #FBE9E9;
    border-color: #E05252;
}

.psk-highlight-issue .header {
    color: #AE1E1E;
}

.psk-highlight-example {
    background-color: #FCFAEE;
    border-color: #E0CB52;
}

.psk-highlight-example .header {
    color: #827017;
}
