
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.alert {
    bottom: 0;
    position: fixed;
    width: 70em;
    animation: fadein 1s;
    z-index: 999;
    left: 400px
}