
* {
    outline: none !important;
}

:host {
    scroll-behavior: smooth;
}

:host {
    display: flex;
}

:host([has-toc]){
    margin-left:32rem;
}

.page-title {
    line-height: 4.375rem;
    margin-bottom: 10px;
    padding: 2rem 0 0rem 0;
}

.page-subtitle h2{
    font-size: 1.5rem;
    color: #005A9C;
    margin-bottom: 0;
    padding: 0 0 0 10px;
}

.page-title h1 {
    margin-bottom: 0;
    padding: 0 0 0 10px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #005A9C;
}

.page-content {
    color: #3d3e44;
    margin-top: 2rem;
}

::slotted(psk-chapter){
    display: flex;
    position: relative;
    width:100%;
}


:host(:not([has-toc])) .main-container{
    margin:0 auto;
    width:930px;
}

@media only screen and (max-width: 1160px) {
    :host([has-toc]){
        margin-left:3rem;
    }

    ::slotted(psk-chapter){
        display: block;
        position: relative;
        width:auto;
    }
}

@media only screen and (min-width: 1161px) and (max-width: 1360px) {
    :host([has-toc]){
        margin-left:29rem;
        position:relative;
    }
}


.psk-badge{
    position: fixed;
    width:1.75rem;
    top:3.5rem;
    left:0;
    z-index: 90;
    padding-bottom: 6rem;
    padding-top: 2rem;
}

.psk-badge-text{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
