* {
    outline: none !important;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 3px solid #005a9c;
}

thead,
tfoot {
    font-weight: bold;
}

th,
td {
    word-wrap: break-down;
}

th{
    background: #005a9c;
    color: #fff;
    padding: 3px 5px;
    text-align: left;
}

td{
    padding: 3px 10px;
    border-top: 1px solid #ddd;
}
tr:nth-child(even) {
    background: #f0f6ff;
}
