* {
    outline: none !important;
}

:host {
    scroll-behavior: smooth;
    display: block;
    font-family: sans-serif;
}

.table-of-content ul {
    margin: 0;
    padding: 0;
}

.table-of-content ul li {
    list-style: none;
    cursor: pointer;
    margin-top: 0.1rem;
}

.table-of-content .card-body > ul > li {
    font-weight: bold;
    margin: 1.5rem 0;
}

.table-of-content .card-body > ul > li:first-child {
    margin-top: 0;
}

.table-of-content ul li ul li {
    font-weight: normal;
}

.table-of-content ul li ul li ul li {
    font-weight: normal;
}

psk-toc {
    position: relative;
    flex: 0 0 25rem;
    height: 100%;
    z-index: 50;
}

psk-toc .card-body{
    padding-left: 0;
}

.table-of-content {
    position: fixed;
    width: 27rem;
    display: flex;
    left: 0;
    right: 0;
    top: 3.5rem;
    bottom: 0;
    background-color: #f7f8f9;
    padding-left: 3rem;
    padding-top: 1rem;
    overflow-y:auto;
}

.table-of-content .card-header h5 {
    text-transform: uppercase;
    color: hsla(203, 20%, 40%, .7);
    font-weight: 700;
    font-size: 1.125rem;
}

.toc-item .chapter-index {
    flex:1;
    width: 3.5rem;
    display: inline-block;
    float:left
}

.toc-item .chapter-title {
    display: inline-block;
    width: 17rem;
    float:left
}
.toc-item:after{
    content:"";
    clear:both;
    display: block;
}

.table-of-content ul li ul li ul li.toc-item .chapter-title {
    width: 16rem;
}

.toc-item .chapter-title:hover {
    background: rgba(75%, 75%, 75%, .25);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin-bottom: -3px;
    border-color: #054572;
}

.table-of-content ul li ul li ul li .chapter-title {
    margin-left: 1rem;
}


@media only screen and (max-width: 1160px) {
    .table-of-content {
        position: relative;
        background-color: transparent;
        padding-left: 3rem;
        padding-top: 1rem;
        top:0;
    }

}
