@charset "UTF-8";

#backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    visibility: hidden;
    pointer-events: none;
}

 :host([opened]) #backdrop {
    visibility: visible;
    pointer-events: all;
}

.container {
    text-align: right;
    position: fixed;
    bottom: 3em;
    right: 1em;
    padding: .25em;
    z-index: 9999;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 1em 0;
    border-radius: .5em;
    background-color: #e7e7e7;
    transition: background-color 0.5s ease-in-out;
}

ul li:hover {
    color: #fff;
    background-color: #233965;
}

.items {
    width: 12em;
    visibility: hidden;
    transform: translatey(5em);
    transition: transform 0.25s ease-in-out, visibility 0.1s ease-in-out, height 0.1s ease-in-out;
    height: 0;
    text-align: center;
}

:host([opened]) .items {
    transform: translatey(0em);
    visibility: visible;
    height: auto;
}

.toggleFloatingMenu {
    position: fixed;
    right: 1em;
    bottom: 0;
    transition: transform .2s ease-in-out;
}

.toggleFloatingMenu .plus {
    font-size: 3em;
    font-weight: 100;
    text-decoration: none;
    color: #64749A;
    cursor: pointer;
}

:host([opened]) .toggleFloatingMenu {
    transform: rotate(135deg);
}

@media screen and (max-width: 769px) {
    .items {
        width: 1em;
    }
     :host([opened]) .items {
        width: 10em;
    }
}